<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Actualiza valores de un formulario en una tabla
	</summary>

	<log>false</log>

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_orden_pago_id</colname>
			<colname>smn_lote_pago_id</colname>
			<colname>smn_documento_id</colname>
			<colname>eol_numero_pago</colname>
			<colname>eol_fecha_pago</colname>
			<colname>eol_referencia_bancaria</colname>
			<colname>eol_monto_pago_ml</colname>
			<colname>smn_moneda_rf</colname>
			<colname>smn_tasa_cambio_rf</colname>
			<colname>eol_monto_pago_ma</colname>
			<colname>eol_estatus</colname>
		
		</cols>
		<table>smn_pagos.smn_rel_orden_pago_lote</table>
		<oper>ACTUALIZAR</oper>
		<area>Carga de datos</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey>id</pkey>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableTransaction</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<query>update.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript; charset=iso-8859-1</content-type>
		<expiration>0</expiration>
	</output>

</config>
