<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>


	<!--toolbar-->
	<tr>
		<th colspan="9" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_proveedor_id_combo","query-smnplandescuentoretencion.sql")'>${lbl:b_auxiliary_supplier}</th>
		<th class='sortable' onclick='sortBy("pdr_fecha_desde","query-smnplandescuentoretencion.sql")'>${lbl:b_date_from}</th>
		<th class='sortable' onclick='sortBy("pdr_fecha_hasta","query-smnplandescuentoretencion.sql")'>${lbl:b_date_up}</th>
		<th class='sortable' onclick='sortBy("smn_descuento_retencion_rf_combo","query-smnplandescuentoretencion.sql")'>${lbl:b_retention_discount}</th>
		<th class='sortable' onclick='sortBy("pdr_estatus_combo","query-smnplandescuentoretencion.sql")'>${lbl:b_estatus}</th>
		<th class='sortable' onclick='sortBy("pdr_fecha_registro","query-smnplandescuentoretencion.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_plan_descuento_retencion_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_plan_descuento_retencion_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_plan_descuento_retencion_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_proveedor_id_combo}</td>
		<td>${fld:pdr_fecha_desde@dd-MM-yyyy}</td>
		<td>${fld:pdr_fecha_hasta@dd-MM-yyyy}</td>
		<td>${fld:smn_descuento_retencion_rf_combo}</td>
		<td align='left'>${fld:pdr_estatus_combo}</td>
		<td>${fld:pdr_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
