<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='30%'/>
	<col width='30%'/>
	<col width='20%'/>
	<col width='20%'/>


	<!--toolbar-->
	<tr>
		<th colspan="7" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_usuario_rf_combo","query-smnautorizador.sql")'>${lbl:b_store_date}</th>
		<th class='sortable' onclick='sortBy("smn_entidades_rf_combo","query-smnautorizador.sql")'>${lbl:b_store_date}</th>
		<th class='sortable' onclick='sortBy("aut_estatus_combo","query-smnautorizador.sql")'>${lbl:b_store_date}</th>
		<th class='sortable' onclick='sortBy("aut_fecha_registro","query-smnautorizador.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_autorizador_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_autorizador_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_autorizador_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_usuario_rf_combo}</td>
		<td>${fld:smn_entidades_rf_combo}</td>
		<td>${fld:aut_estatus_combo}</td>
		<td>${fld:aut_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
