<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ver resultado de consulta
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="sql" scope="session" />
		  <recordset id='smn_orden_compra.sql' source='sql' scope='transaction'/>
		<recordset id='smn_nota_entrada.sql' source='sql' scope='transaction'/>
		<recordset id='smn_nota_recepcion.sql' source='sql' scope='transaction'/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode="form" recordset="query.sql" />
		<print mode='table' recordset='smn_orden_compra.sql' tag='smn_buy_order_rows'/>
		<print mode='table' recordset='smn_nota_entrada.sql' tag='smn_entry_note_rows'/>
		<print mode='table' recordset='smn_nota_recepcion.sql' tag='smn_reception_note_rows'/>
	</output>

</config>
