<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnlotepago.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_smn_lote_pago_id}</pdf-title>
	<pdf-logo url='/images/logo-dinamica.png' scale='100' />

	<pdf-report pageSize="letter" rotate="false">
		<record recordset='filter.params' title='Filtro de Búsqueda' noFilterMsg='-- Sin filtro de búsqueda --' width='55' spacingBefore='15'>
			<col name='smn_entidad_financiera_rf' title='${lbl:b_smn_entidad_financiera_rf}'  format='######' align='center' />
			<col name='smn_cuenta_bancaria_rf' title='${lbl:b_smn_cuenta_bancaria_rf}'  format='######' align='center' />
			<col name='smn_forma_pago_rf' title='${lbl:b_smn_forma_pago_rf}'  format='######' align='center' />
			<col name='smn_documento_id' title='${lbl:b_smn_documento_id}'  format='######' align='center' />
			<col name='lpa_fecha_lote_init' title='${lbl:b_lpa_fecha_lote}'  format='dd-MM-yyyy' align='center' />
			<col name='lpa_fecha_lote_end' title='${lbl:b_lpa_fecha_lote}'  format='dd-MM-yyyy' align='center' />
			<col name='lpa_fecha_registro_init' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='center' />
			<col name='lpa_fecha_registro_end' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='center' />
		</record>
		<table recordset='query-smnlotepago.sql' width='100' spacingBefore='10'>
			<col name='smn_entidad_financiera_rf_combo' title='${lbl:b_smn_entidad_financiera_rf}' width='9' align='center' format='######' />
			<col name='smn_cuenta_bancaria_rf_combo' title='${lbl:b_smn_cuenta_bancaria_rf}' width='9' align='center' format='######' />
			<col name='smn_documento_id_combo' title='${lbl:b_smn_documento_id}' width='9' align='center' format='######' />
			<col name='lpa_numero_lote' title='${lbl:b_lpa_numero_lote}' width='9' align='left' />
			<col name='lpa_descripcion_lote' title='${lbl:b_lpa_descripcion_lote}' width='9' align='left' />
			<col name='lpa_fecha_lote' title='${lbl:b_lpa_fecha_lote}' width='9' align='center' format='dd-MM-yyyy' />
			<col name='smn_forma_pago_rf_combo' title='${lbl:b_smn_forma_pago_rf}' width='9' align='center' format='######' />
			<col name='lpa_monto_lote_ma' title='${lbl:b_lpa_monto_lote_ma}' width='9' align='right' format='#,###,##0.00' />
			<col name='lpa_monto_lote_ml' title='${lbl:b_lpa_monto_lote_ml}' width='9' align='right' format='#,###,##0.00' />
			<col name='lpa_estatus_combo' title='${lbl:b_lpa_estatus}' width='9' align='left' />
			<col name='lpa_fecha_registro' title='${lbl:b_store_date}' width='9' align='center' format='dd-MM-yyyy' />
		</table>

	</pdf-report>
</config>