<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>
	<col width='13%'/>


	<!--toolbar-->
	<tr>
		<th colspan="8" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>

		<th class='sortable' onclick="sortBy('smn_documento_rf_combo','query-smnordencompra.sql')" >${lbl:b_opa_document}</th>
		<th class='sortable' onclick="sortBy('smn_numero_documento_rf','query-smnordencompra.sql')" >${lbl:b_document_number}</th>
		<th class='sortable' onclick="sortBy('smn_proveedor_id_combo','query-smnordencompra.sql')" >${lbl:b_auxiliary_supplier}</th>
		<th class='sortable' onclick="sortBy('ocp_monto_ml','query-smnordencompra.sql')" >${lbl:b_amount_ml}</th>
		<th class='sortable' onclick="sortBy('ocp_monto_saldo_ml','query-smnordencompra.sql')" >${lbl:b_amount_balance_ml}</th>
		<th class='sortable' onclick="sortBy('ocp_estatus_combo','query-smnordencompra.sql')" >${lbl:b_financial_status}</th>
		<th class='sortable' onclick="sortBy('ocp_fecha_registro','query-smnordencompra.sql')" >${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_orden_compra_op_id}')" title="${lbl:b_view_detail}"></td>
		<td align="center">${fld:smn_documento_rf_combo}</td>
		<td align="center">${fld:smn_numero_documento_rf}</td>
		<td align="center">${fld:smn_proveedor_id_combo}</td>
		<td align="right">${fld:ocp_monto_ml@#,###,##0.00}</td>
		<td align="right">${fld:ocp_monto_saldo_ml@#,###,##0.00}</td>
		<td align="left">${fld:ocp_estatus_combo}</td>
		<td align="center">${fld:ocp_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
