<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smncontroldocumento.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_document_control}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_document_control}">
				<col id='sdp_estatus_solicitud_pl0' label='${lbl:b_document_request_id}' />
		<col id='smn_cuenta_bancaria_rf_combo' label='${lbl:b_bank_account}' />
		<col id='dpd_numero_documento' label='${lbl:b_document_number}' />
		<col id='dpd_fecha_uso' label='${lbl:b_date_use}' />
		<col id='dpd_fecha_anulacion' label='${lbl:b_cancellation_date}' />
		<col id='dpd_estatus_combo' label='${lbl:b_process_status}' />
		<col id='dpd_numero_documento' label='${lbl:b_document_number}' />
		<col id='dpd_estatus_combo' label='${lbl:b_process_status}' />
		<col id='dpd_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
