<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnfirmascuentas.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_accounts_firms}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_accounts_firms}">
				<col id='fcb_codigo' label='${lbl:b_code_fcb}' />
		<col id='fcb_descripcion' label='${lbl:b_description_fcb}' />
		<col id='smn_cuentas_bancarias_rf_combo' label='${lbl:b_bank_account}' />
		<col id='fcb_cantidad' label='${lbl:b_quantity_fcb}' />
		<col id='smn_tipo_firma_id_combo' label='${lbl:b_type_firm_fcb}' />
		<col id='fcb_estatus_combo' label='${lbl:b_estatus}' />
		<col id='fcb_vigencia' label='${lbl:b_validity}' />
		<col id='fcb_codigo' label='${lbl:b_code_fcb}' />
		<col id='fcb_descripcion' label='${lbl:b_description_fcb}' />
		<col id='smn_cuentas_bancarias_rf_combo' label='${lbl:b_bank_account}' />
		<col id='fcb_cantidad' label='${lbl:b_quantity_fcb}' />
		<col id='smn_tipo_firma_id_combo' label='${lbl:b_type_firm_fcb}' />
		<col id='fcb_estatus_combo' label='${lbl:b_estatus}' />
		<col id='fcb_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
