<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnformpagdocumentobanco.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_pay_document_bank}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_pay_document_bank}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnformpagdocumentobanco.sql' width='100' spacingBefore='40'>
			<col name='smn_documento_id_combo' title='${lbl:b_document}' width='16' align='left' format='######' />
			<col name='smn_forma_pago_rf_combo' title='${lbl:b_way_to_pay_fdb}' width='16' align='left' format='######' />
			<col name='smn_entidad_financiera_rf_combo' title='${lbl:b_bank_fdb}' width='16' align='left' format='######' />
			<col name='fdb_genera_transaccion_combo' title='${lbl:b_generate_transaction}' width='16' align='left' />
			<col name='fdb_estatus_combo' title='${lbl:b_estatus}' width='16' align='left' />
			<col name='fdb_fecha_registro' title='${lbl:b_store_date}' width='16' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
