<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>


	<!--toolbar-->
	<tr>
		<th colspan="12" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>

		<th>AP</th>
		<th>RZ</th>
		<th class='sortable' onclick='sortBy("smn_entidades_rf","query-smnordenpago.sql")'>${lbl:b_opa_entities}</th>
		<th class='sortable' onclick='sortBy("smn_sucursales_rf","query-smnordenpago.sql")'>${lbl:b_opa_branches}</th>
		<th class='sortable' onclick='sortBy("smn_auxiliar_rf","query-smnordenpago.sql")'>${lbl:b_class_aux}</th>
		<th class='sortable' onclick='sortBy("clf_descripcion","query-smnordenpago.sql")'>${lbl:b_abc_classification}</th>
		<th>${lbl:b_due_more_than_7days}</th>
		<th>${lbl:b_due_between_0and7days}</th>
		<th>${lbl:b_expired_between_1and7days}</th>
		<th>${lbl:b_expired_between_8and15days}</th>
		<th>${lbl:b_overdue_more_than15days}</th>
		<th>${lbl:b_financial_status}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/accept.png"  onclick="aprobarUnitario('${fld:smn_orden_pago}')" title="${lbl:b_approve}"></td>
		<td><img src="${def:context}/images/accept.png"  onclick="rechazarUnitario('${fld:smn_orden_pago}')" title="${lbl:b_to_reject}"></td>
	
		<td>${fld:smn_entidades_rf}</td>
		<td>${fld:smn_sucursales_rf}</td>
		<td>${fld:smn_clase_auxiliar_rf}</td>
		<td>${fld:clf_descripcion}</td>
		<td>${fld:monto_por_vencer_mayor_7@#,###,##0.00}</td>
		<td>${fld:monto_por_vencer_menor_7@#,###,##0.00}</td>
		<td>${fld:monto_vencido_menor_7@#,###,##0.00}</td>
		<td>${fld:monto_vencido_8_15@#,###,##0.00}</td>
		<td>${fld:monto_vencido_mayor_15@#,###,##0.00}</td>
		<td>${fld:opa_estatus_financiero}</td>
		
	</tr>
	</rows>

</table>
