<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		${lbl:b_smn_lote_pago_id}
	</summary>

	<log>false</log>
	
	<set-request-attribute id="progress" value="file:/WEB-INF/action/progress/progress.htm"/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id='query-smn_entidad_financiera_rf.sql' source='sql' scope='transaction'/><recordset id='query-smn_cuenta_bancaria_rf.sql' source='sql' scope='transaction'/><recordset id='query-smn_forma_pago_rf.sql' source='sql' scope='transaction'/><recordset id='query-smn_documento_id.sql' source='sql' scope='transaction'/><recordset id='query-smn_moneda_rf.sql' source='sql' scope='transaction'/><recordset id='query-smn_tasa_cambio_rf.sql' source='sql' scope='transaction'/><recordset id='query-smn_canal_pago_id.sql' source='sql' scope='transaction'/><recordset id='query-lpa_tipo_comprobante_contable_id.sql' source='sql' scope='transaction'/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode='table' recordset='query-smn_entidad_financiera_rf.sql' tag='smn_entidad_financiera_rf_rows'/><print mode='table' recordset='query-smn_cuenta_bancaria_rf.sql' tag='smn_cuenta_bancaria_rf_rows'/><print mode='table' recordset='query-smn_forma_pago_rf.sql' tag='smn_forma_pago_rf_rows'/><print mode='table' recordset='query-smn_documento_id.sql' tag='smn_documento_id_rows'/><print mode='table' recordset='query-smn_moneda_rf.sql' tag='smn_moneda_rf_rows'/><print mode='table' recordset='query-smn_tasa_cambio_rf.sql' tag='smn_tasa_cambio_rf_rows'/><print mode='table' recordset='query-smn_canal_pago_id.sql' tag='smn_canal_pago_id_rows'/><print mode='table' recordset='query-lpa_tipo_comprobante_contable_id.sql' tag='lpa_tipo_comprobante_contable_id_rows'/>
		<print mode="form" recordset="_request" /> 
	</output>

</config>
