<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="session" scope="transaction" />

	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_document_control}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_document_control}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='query.sql' title='${lbl:b_document_control}' width='60' spacingBefore='40'>
			<col name='smn_cuenta_bancaria_rf_combo' title='${lbl:b_bank_account}' align='left' format='######' />
			<col name='dpd_numero_documento' title='${lbl:b_document_number}' align='left' format='######' />
			<col name='dpd_fecha_uso' title='${lbl:b_date_use}' align='left' format='dd-MM-yyyy' />
			<col name='dpd_fecha_anulacion' title='${lbl:b_cancellation_date}' align='left' format='dd-MM-yyyy' />
			<col name='dpd_estatus_combo' title='${lbl:b_process_status}' align='left' />
		</record>


	</pdf-report>
</config>
