<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='9%'/>
	<col width='3%'/>


	<!--toolbar-->
	<tr>
		<th colspan="17" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th>VR</th>
		<th>GE</th>
		<th class='sortable' onclick='sortBy("smn_entidad_financiera_rf","query-smnlotepago.sql")'>${lbl:b_smn_entidad_financiera_rf}</th>
		<th class='sortable' onclick='sortBy("smn_cuenta_bancaria_rf","query-smnlotepago.sql")'>${lbl:b_smn_cuenta_bancaria_rf}</th>
		<th class='sortable' onclick='sortBy("smn_forma_pago_rf","query-smnlotepago.sql")'>${lbl:b_smn_forma_pago_rf}</th>
		<th class='sortable' onclick='sortBy("smn_documento_id","query-smnlotepago.sql")'>${lbl:b_smn_documento_id}</th>
		<th class='sortable' onclick='sortBy("lpa_numero_lote","query-smnlotepago.sql")'>${lbl:b_lpa_numero_lote}</th>
		<th class='sortable' onclick='sortBy("lpa_descripcion_lote","query-smnlotepago.sql")'>${lbl:b_lpa_descripcion_lote}</th>
		<th class='sortable' onclick='sortBy("lpa_fecha_lote","query-smnlotepago.sql")'>${lbl:b_lpa_fecha_lote}</th>
		<th class='sortable' onclick='sortBy("lpa_monto_lote_ml","query-smnlotepago.sql")'>${lbl:b_lpa_monto_lote_ml}</th>
		<th class='sortable' onclick='sortBy("lpa_monto_lote_ma","query-smnlotepago.sql")'>${lbl:b_lpa_monto_lote_ma}</th>
		<th class='sortable' onclick='sortBy("smn_estatus_documento","query-smnlotepago.sql")'>${lbl:b_smn_estatus_documento}</th>
		<th class='sortable' onclick='sortBy("lpa_fecha_registro","query-smnlotepago.sql")'>${lbl:b_store_date}</th>
        <th>DT</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_lote_pago_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_lote_pago_id}','${fld:smn_estatus_documento}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_lote_pago_id}','${fld:smn_estatus_documento}')" title="${lbl:b_edit_button}"></td>
        <td><img src="${def:context}/images/icongrid/Detalle-impuesto.png"  onclick="showEditor('${fld:smn_lote_pago_id}')" title="${lbl:b_smn_lote_pago_btn_reporte}"></td>
        <td><img src="${def:context}/images/icongrid/Generar.png"  onclick="showEditor('${fld:smn_lote_pago_id}')" title="${lbl:b_smn_lote_pago_btn_generar}"></td>
		<td>${fld:smn_entidad_financiera_rf}</td>
		<td>${fld:smn_cuenta_bancaria_rf}</td>
		<td>${fld:smn_forma_pago_rf}</td>
		<td>${fld:smn_documento_id}</td>
		<td align='left'>${fld:lpa_numero_lote}</td>
		<td align='left'>${fld:lpa_descripcion_lote}</td>
		<td>${fld:lpa_fecha_lote@dd-MM-yyyy}</td>
		<td align='right'>${fld:lpa_monto_lote_ml@#,###,##0.00}</td>
		<td align='right'>${fld:lpa_monto_lote_ma@#,###,##0.00}</td>
		<td align='left'>${fld:smn_estatus_documento}</td>
		<td>${fld:lpa_fecha_registro@dd-MM-yyyy}</td>
        <td><img src="${def:context}/images/icongrid/Generar.png"   onclick="detalle('${fld:smn_lote_pago_id}','${fld:smn_estatus_documento}')" title="${lbl:b_smn_lote_pago_btn_detalle}"></td>

	</tr>
	</rows>

</table>
