<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='30%'/>
	<col width='30%'/>
	<col width='30%'/>


	<!--toolbar-->
	<tr>
		<th colspan="6" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('smn_usuario_rf_combo','query-smnrol.sql')" >${lbl:b_user}</th>
		<th class='sortable' onclick="sortBy('rol_tipo_combo','query-smnrol.sql')" >${lbl:b_type_rol}</th>
		<th class='sortable' onclick="sortBy('rol_fecha_registro','query-smnrol.sql')" >${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_rol_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_rol_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_rol_id}')" title="${lbl:b_edit_button}"></td>
		<td align="left">${fld:smn_usuario_rf_combo}</td>
		<td align="left">${fld:rol_tipo_combo}</td>
		<td align="center">${fld:rol_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
