<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query-smnrelordenpagolote.sql" />
	<set-request-attribute id="paging.pagesize" value="10" />

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_orden_pago_id</colname>
			<colname>smn_lote_pago_id</colname>
			<colname>smn_proveedor_rf</colname>
			<colname>eol_numero_pago</colname>
			<colname>eol_fecha_pago_init</colname>
			<colname>eol_fecha_pago_end</colname>
			<colname>eol_referencia_bancaria</colname>
		
		</cols>
		<table>smn_pagos.smn_rel_orden_pago_lote</table>
		<oper>CONSULTA</oper>
		<area>Consulta</area>
		<!-- 
 			para auditoria de consulta permite obtener la cantidad de registro obtenidos
 			de la busqueda (opcional)
 		-->
		<recordCount recordset="query-smnrelordenpagolote.sql"/>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<searchCols>smn_orden_pago_id;smn_lote_pago_id;smn_proveedor_rf;eol_numero_pago;eol_fecha_pago_init;eol_fecha_pago_end;eol_referencia_bancaria;</searchCols>

	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
