<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnordencompra.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="3" cellStep="0" name="${lbl:b_buy_order}"/>
	
	<excel 
		recordset='query-smnordencompra.sql' 
		sheetname='${lbl:b_buy_order}' 
		filename='${lbl:b_buy_order}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_documento_rf_combo' label='${lbl:b_opa_document}' />
		<col id='smn_numero_documento_rf' label='${lbl:b_document_number}' />
		<col id='smn_proveedor_id_combo' label='${lbl:b_auxiliary_supplier}' />
		<col id='ocp_monto_ml' label='${lbl:b_amount_ml}' />
		<col id='ocp_monto_saldo_ml' label='${lbl:b_amount_balance_ml}' />
		<col id='ocp_estatus_combo' label='${lbl:b_financial_status}' />
		<col id='ocp_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
