<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>
	<col width='16%'/>


	<!--toolbar-->
	<tr>
		<th colspan="9" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_documento_id_combo","query-smnformpagdocumentobanco.sql")'>${lbl:b_document}</th>
		<th class='sortable' onclick='sortBy("smn_forma_pago_rf_combo","query-smnformpagdocumentobanco.sql")'>${lbl:b_way_to_pay_fdb}</th>
		<th class='sortable' onclick='sortBy("smn_entidad_financiera_rf_combo","query-smnformpagdocumentobanco.sql")'>${lbl:b_bank_fdb}</th>
		<th class='sortable' onclick='sortBy("fdb_genera_transaccion_combo","query-smnformpagdocumentobanco.sql")'>${lbl:b_generate_transaction}</th>
		<th class='sortable' onclick='sortBy("fdb_estatus_combo","query-smnformpagdocumentobanco.sql")'>${lbl:b_estatus}</th>
		<th class='sortable' onclick='sortBy("fdb_fecha_registro","query-smnformpagdocumentobanco.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_formpag_documento_banco_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_formpag_documento_banco_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_formpag_documento_banco_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_documento_id_combo}</td>
		<td>${fld:smn_forma_pago_rf_combo}</td>
		<td>${fld:smn_entidad_financiera_rf_combo}</td>
		<td align='left'>${fld:fdb_genera_transaccion_combo}</td>
		<td align='left'>${fld:fdb_estatus_combo}</td>
		<td>${fld:fdb_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
