<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnordencompra.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_buy_order}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_buy_order}">
				<col id='smn_documento_rf_combo' label='${lbl:b_opa_document}' />
		<col id='smn_numero_documento_rf' label='${lbl:b_document_number}' />
		<col id='smn_clase_rf_combo' label='${lbl:b_provider_class}' />
		<col id='smn_proveedor_id_combo' label='${lbl:b_auxiliary_supplier}' />
		<col id='smn_usuario_rf_combo' label='${lbl:b_responsible}' />
		<col id='ocp_monto_ml' label='${lbl:b_amount_ml}' />
		<col id='ocp_impuesto_ml' label='${lbl:b_amount_taxes_ml}' />
		<col id='smn_moneda_rf_combo' label='${lbl:b_currency}' />
		<col id='ocp_monto_ma' label='${lbl:b_amount_ma}' />
		<col id='ocp_monto_impuestos_ma' label='${lbl:b_amount_taxes_ma}' />
		<col id='ocp_monto_usado_ml' label='${lbl:b_amount_used_ml}' />
		<col id='ocp_impuesto_usado_ml' label='${lbl:b_taxes_used_ml}' />
		<col id='ocp_monto_usado_ma' label='${lbl:b_amount_used_ma}' />
		<col id='ocp_monto_impuestos_usado_ma' label='${lbl:b_taxes_used_ma}' />
		<col id='ocp_monto_saldo_ml' label='${lbl:b_amount_balance_ml}' />
		<col id='ocp_impuestos_saldo_ml' label='${lbl:b_taxes_balance_ml}' />
		<col id='ocp_monto_saldo_ma' label='${lbl:b_amount_balance_ma}' />
		<col id='ocp_monto_impuestos_saldo_ma' label='${lbl:b_taxes_balance_ma}' />
		<col id='ocp_estatus_combo' label='${lbl:b_financial_status}' />
		<col id='smn_documento_rf_combo' label='${lbl:b_opa_document}' />
		<col id='smn_numero_documento_rf' label='${lbl:b_document_number}' />
		<col id='smn_proveedor_id_combo' label='${lbl:b_auxiliary_supplier}' />
		<col id='ocp_monto_ml' label='${lbl:b_amount_ml}' />
		<col id='ocp_monto_saldo_ml' label='${lbl:b_amount_balance_ml}' />
		<col id='ocp_estatus_combo' label='${lbl:b_financial_status}' />
		<col id='ocp_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
