<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="session" scope="transaction" />

	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_retention_discount}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_retention_discount}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='query.sql' title='${lbl:b_retention_discount}' width='60' spacingBefore='40'>
			<col name='opa_descripcion_pl0' title='${lbl:b_payment_order_id}' align='left' />
			<col name='smn_clase_auxiliar_rf_combo' title='${lbl:b_provider_class}' align='left' format='######' />
			<col name='smn_auxiliar_rf_combo' title='${lbl:b_auxiliary_supplier}' align='left' format='######' />
			<col name='smn_descuento_retencion_rf_combo' title='${lbl:b_code_discount}' align='left' format='######' />
			<col name='dro_monto_base' title='${lbl:b_amount_base}' align='left' format='#,###,##0.00' />
			<col name='dro_porcentaje' title='${lbl:b_discount_percentage}' align='left' format='######' />
			<col name='dro_monto_descuento' title='${lbl:b_percentage_amount}' align='left' format='#,###,##0.00' />
		</record>


	</pdf-report>
</config>
