<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnformpagdocumentobanco.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="3" cellStep="0" name="${lbl:b_pay_document_bank}"/>
	
	<excel 
		recordset='query-smnformpagdocumentobanco.sql' 
		sheetname='${lbl:b_pay_document_bank}' 
		filename='${lbl:b_pay_document_bank}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_documento_id_combo' label='${lbl:b_document}' />
		<col id='smn_forma_pago_rf_combo' label='${lbl:b_way_to_pay_fdb}' />
		<col id='smn_entidad_financiera_rf_combo' label='${lbl:b_bank_fdb}' />
		<col id='fdb_genera_transaccion_combo' label='${lbl:b_generate_transaction}' />
		<col id='fdb_estatus_combo' label='${lbl:b_estatus}' />
		<col id='fdb_fecha_registro' label='${lbl:b_store_date}' />

	</excel>

</config>
