<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnanticipo.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_smn_anticipo_id}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_smn_anticipo_id}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='smn_entidad_rf' title='${lbl:b_smn_entidad_rf}'  format='######' align='left' />
			<col name='smn_sucursal_rf' title='${lbl:b_branches}'  format='######' align='left' />
			<col name='smn_proveedor_rf' title='${lbl:b_smn_proveedor_rf}'  format='######' align='left' />
			<col name='smn_documento_id' title='${lbl:b_smn_documento_id}'  format='######' align='left' />
			<col name='ant_numero_documento' title='${lbl:b_smn_documento_id}'  format='######' align='left' />
			<col name='ant_estatus' title='${lbl:b_status}'  align='left' />
			<col name='ant_fecha_registro_init' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />
			<col name='ant_fecha_registro_end' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smnanticipo.sql' width='100' spacingBefore='10'>
			<col name='smn_entidad_rf' title='${lbl:b_smn_entidad_rf}' width='6' align='left' format='######' />
			<col name='smn_sucursal_rf' title='${lbl:b_branches}' width='6' align='left' format='######' />
			<col name='smn_proveedor_rf' title='${lbl:b_smn_proveedor_rf}' width='6' align='left' format='######' />
			<col name='smn_documento_id' title='${lbl:b_smn_documento_id}' width='6' align='left' format='######' />
			<col name='ant_numero_documento' title='${lbl:b_smn_documento_id}' width='6' align='left' format='######' />
			<col name='smn_orden_compra_rf' title='${lbl:b_smn_orden_compra_rf}' width='6' align='left' format='######' />
			<col name='ant_porcentaje' title='${lbl:b_percentage}' width='6' align='left' format='#,###,##0.00' />
			<col name='ant_monto_ml' title='${lbl:b_ant_monto_ml}' width='6' align='left' format='#,###,##0.00' />
			<col name='ant_monto_ma' title='${lbl:b_ant_monto_ma}' width='6' align='left' format='#,###,##0.00' />
			<col name='ant_estatus' title='${lbl:b_status}' width='6' align='left' />
			<col name='ant_fecha_registro' title='${lbl:b_store_date}' width='6' align='left' format='dd-MM-yyyy' />
			<col name='smn_usuario_solicitante_rf' title='${lbl:b_applicant}' width='6' align='left' format='######' />
			<col name='smn_usuario_aprobador_rf' title='${lbl:b_smn_usuario_aprobador_rf}' width='6' align='left' format='######' />
			<col name='smn_moneda_rf' title='${lbl:b_smn_moneda_rf}' width='6' align='left' format='######' />
			<col name='smn_tasa_rf' title='${lbl:b_rate}' width='6' align='left' format='######' />

		</record>

	</pdf-report>
</config>
