<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrechazo.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_rejection}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_rejection}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		
		<record recordset='query-smnrechazo.sql' width='100' spacingBefore='10'>
			<col name='rec_codigo' title='${lbl:b_code_rec}' width='25' align='left' />
			<col name='rec_descripcion' title='${lbl:b_description_rec}' width='25' align='left' />
			<col name='rec_estatus_combo' title='${lbl:b_estatus}' width='25' align='left' />
			<col name='rec_fecha_registro' title='${lbl:b_store_date}' width='25' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
